/* configs do container */
body{
    margin: 0px;
    padding: 0px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.container{
    margin: 0px;
    background-color: #f8f2d2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
/* configs do bloco de cima */
.sobre-borali{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 400pt;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    border: 1px solid #cfb2a3;
}

.sobre-borali a {
    text-decoration: underline;
}

.sobre-borali:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
    box-shadow: 0px 0px 15px grey;
}

.sobre-borali:hover a {
    text-decoration: underline;
}

h1 {
    font-size: 18pt;
    text-align: center;
}
/* configs do bloco de baixo */
.fotos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.perfis{
    box-shadow: 0px 0px 10px grey;
    border: 1px solid #cfb2a3;
    border-radius: 10px;
    background-color: white;
    width: 20vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfis:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
    box-shadow: 0px 0px 15px grey;
}

.foto-perfil {
    border-radius: 100%;
    height: 100px;
}
/* configs  dos perfis */
.perfis img{
    width: 100px;
}
/* configs dos contatos */
.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linkedin, .github{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.linkedin-github{
    border-radius: 50%;
    margin: 5px;
    width: 20px;
    max-width: 20px;
}
a, a:hover, a:visited{
    color: black;
    text-decoration: none;
}