*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f8f2d2;
}
/* config dos menus */
.menus{
    width: 100vw;
    box-sizing: border-box;
    background: none;
    height: 150px;
}
.menus a:hover{
    color: white;
}

.menu-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9a5b3c;
}

.menu-horizontal img{
    width: 90px;
    margin-left: 10px;
}
/*Config do menu Horizontal*/
.h-menu{
    width: 100vw;
    color:#555555;
  }

  .h-menu ul{
    padding: 20px;
    background-color: #9a5b3c;
    overflow: auto;
    color: #9a5b3c;
    font-size: larger;
  }

  .h-menu li{
    display: inline;
    float: right;
    color:#9a5b3c;
  }

  .h-menu li a{
    display: block;
    color: #f8f2d2;
    padding: 16px 16px;
    text-decoration: none;
  }

  .h-menu li a:hover{
    color: white;
    background-color: #9a5b3c;
    transition: background .3s;
    border-radius: 8px;
  }
  /* Config do menu vertical*/
.v-menu{
    z-index: 9;
    max-width: 100%;
    width: 600px;
  }
  .v-menu ul{
    margin: 35px 5px;
    padding: 10px;
    background-color: #9a5b3c;
    border-radius: 5px;
  }
  .v-menu li a{
    display: block;
    color: #f8f2d2;
    padding: 10px 16px;
    text-decoration: none;
    background-image: url();
  }

  .v-menu li a:hover{
    background-color: #9a5b3c;
    border-radius: 8px;
  }

  .v-menu a{
    text-decoration: none;
    color: white;
  }

  .v-menu ul{
    list-style: none;
  }

  img{
    width: 50px;
  }

  input[type="checkbox"]{
    display: none;
  }

  .v-menu{
    width: 230px;
    height: 50%;
    left: -230px;
    position: absolute;
    transition: linear .3s;
  }

  input[type="checkbox"]:checked ~ nav{
    transform: translateX(230px);

  }

  .v-menu ul{
    top: 30px;
    position: absolute;
    width: 85%;
  }

  .v-menu a{
    display: block;
    padding: 20px 5px;
    color: white;
  }

  .v-menu a:hover{
    color: white;
  }

  label{
    padding: 15px;
    position: absolute;
    z-index: 10;
  }
