<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Comedorias</title>
    <link rel="stylesheet" href="listaComedoria.css">
</head>
<body>
<div class="menus">
    <div class="menu-horizontal">
        <img class="logo" src="./img/BORALI.png">
        <nav class="h-menu">
            <ul>
                <li><a href="/registroComedoria">Sugerir comedoria</a></li>
                <li><a href="/home">Buscar</a></li>
                <li><a href="/home">Home</a></li>
            </ul>
        </nav>
    </div>
    <div class="menu-vertical">
        <input type="checkbox" id="check">
        <label for="check">
            <img src="./img/menu-mobile.png">
        </label>
        <nav class="v-menu">
            <ul>
                <li><a href="/perfilUsuario">USUÁRIO</a></li>
                <li><a href="/quemSomos">QUEM SOMOS</a></li>
                <li><a href="/login">ENTRAR</a></li>
            </ul>
        </nav>
    </div>
</div>
    <div class="tabela">
        <table>
            <thead>
            <tr>
                <th> Nome </th>
                <th> Endereço </th>
                <th> Instagram </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lista : ${listaComedoria}">
                <td><span th:value="${lista.nome}" th:text="${lista.nome}"></span></td>
                <td><span th:value="${lista.endereco}" th:text="${lista.endereco}"></span></td>
                <td><span th:value="${lista.instagram}" th:text="${lista.instagram}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>