<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div class="centro">
      <div class="titulo">
        <p>Login</p>
      </div>
      <div class="tudo">
        <div class="formulario">
        	<div th:text="${mensagem}" th:if="${mensagem != null}"></div>
          <form name="formulario" method="post" action="/logando" th:object="${usuario}">
            <label for="nome">Usuário</label>
            <input name="nome" id="nome" type="text" placeholder="Digite seu nome de usuario" />
            <br>
            <label for="senha">Senha</label>
            <input name="senha" id="senha" type="password" placeholder="Digite sua senha" />
            <div class="esqueceuSenha">
              <a href="/recuperarSenha">Esqueceu a senha?</a>
            </div>
            <div>
              <div class="botaoLogin">
                <button class="botao" href="perfilComedoria.html">Entrar</button>
              </div>
            </div>
            <div class="cadastrar">
              <a href="/registrar">
                Cadastre-se!</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
