<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gildo Lanches</title>
    <link rel="stylesheet" href="perfilComedoria.css">
</head>
<body>
    <div class="menus">
        <div class="menu-horizontal">
            <img class="logo" src="./img/BORALI.png">
            <nav class="h-menu">
                <ul>
                    <li><a href="/registroComedoria">Sugerir comedoria</a></li>
                    <li><a href="/home">Buscar</a></li>
                    <li><a href="/home">Home</a></li> 
                </ul>
            </nav>
        </div>
        <div class="menu-vertical">
            <input type="checkbox" id="check">
            <label for="check">
                <img src="./img/menu-mobile.png">
            </label>
            <nav class="v-menu">
                <ul>
                    <li><a href="/perfilUsuario">USUÁRIO</a></li>
                    <li><a href="/quemSomos">QUEM SOMOS</a></li>
                    <li><a href="/login">ENTRAR</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container"> 
        <div class="esquerda">
            <div class="esquerda-cima">
                <div class="nome">
                    <h2 id="nome">Gildo Lanches</h2>
                    <a id="avaliacao" href="avaliacoes.html">
                        <h2>4,5</h2>
                        <img id="estrela" src="img/Estrela.png" alt="estrela.png">    
                    </a>
                </div>
                <div class="img-perfil">
                    <img id="img-perfil" src="img/Gildo-Lanches.jpeg" alt="gildoLanches.perfil">
                </div>
            </div>

            <div class="esquerda-centro">
                <div class="endereco">
                    <img class="icones" src="" alt=" ">
                    <p id="endereco">Praça do Derby 76</p>
                </div>
                <div class="telefone">
                    <img class="icones" src="" alt=" ">
                    <p>(81) 9 99999999</p>
                </div>
                <div class="instagram">
                    <img class="icones" src="" alt=" ">
                    <a id="linkInsta" href="https://www.instagram.com/gildolanchespe/">@gildolanchespe</a>
                </div>
                <div class="facebook"></div>
            </div>
            <div class="esquerda-baixo">
                <div>
                    <h3 id="sobre">Sobre</h3>
                </div>
                <div class="descricao">
                    <p id="descricao">
                        O carismático Gildo, 65 anos, é um dos ícones da comida de rua no Recife. Na infância, entrava e saía dos casarões da avenida Rio Branco vendendo tapioca e lanches. Pode se dizer que ali foi o início de uma vida marcada pelo empreendedorismo ligada ao comércio de alimentos.
                    </p>
                </div>
            </div>
        </div>
        <div class="direita">
            <div class="direita-cima">
                <h3 id="promocoes">Promoções</h3>
                <div class="bloco-promocoes">
                    <div class="promocoes">
                        <p id="nome-promocao">Cachorro-Quente</p>
                        <img src="img/HotDog.jpeg" alt="">
                        <p id="preco-promocao">R$ 4,00</p>
                    </div>
                    <div class="promocoes">
                        <p id="nome-promocao">Cachorro-Quente</p>
                        <img src="img/HotDog.jpeg" alt="">
                        <p id="preco-promocao">R$ 4,00</p>
                    </div>
                    <div class="promocoes">
                        <p id="nome-promocao">Cachorro-Quente</p>
                        <img src="img/HotDog.jpeg" alt="">
                        <p id="preco-promocao">R$ 4,00</p>
                    </div>
                    <div class="promocoes">
                        <p id="nome-promocao">Cachorro-Quente</p>
                        <img src="img/HotDog.jpeg" alt="">
                        <p id="preco-promocao">R$ 4,00</p>
                    </div>
                    <div class="promocoes">
                        <p id="nome-promocao">Cachorro-Quente</p>
                        <img src="img/HotDog.jpeg" alt="">
                        <p id="preco-promocao">R$ 4,00</p>
                    </div>
                    <div class="promocoes">
                        <p id="nome-promocao">Cachorro-Quente</p>
                        <img src="img/HotDog.jpeg" alt="">
                        <p id="preco-promocao">R$ 4,00</p>
                    </div>
                </div>
                <a class="links" href="promocoes.html">
                    Ver Promoções
                </a>
            </div>
            <div class="direita-centro">
                <h3>Cardápio</h3>
                <div class="bloco-cardapio">
                    <div class="cardapio">
                        <p id="nome-produto">
                            Caldinhos
                        </p>
                        <img src="img/Caldinhos.jpeg" alt="">
                        <p id="preco-produto">R$ 4,00</p>
                    </div>
                    <div class="cardapio">
                        <p id="nome-produto">
                            Caldinhos
                        </p>
                        <img src="img/Caldinhos.jpeg" alt="">
                        <p id="preco-produto">R$ 4,00</p>
                    </div>
                    <div class="cardapio">
                        <p id="nome-produto">
                            Caldinhos
                        </p>
                        <img src="img/Caldinhos.jpeg" alt="">
                        <p id="preco-produto">R$ 4,00</p>
                    </div>
                    <div class="cardapio">
                        <p id="nome-produto">
                            Caldinhos
                        </p>
                        <img src="img/Caldinhos.jpeg" alt="">
                        <p id="preco-produto">R$ 4,00</p>
                    </div>
                    <div class="cardapio">
                        <p id="nome-produto">
                            Caldinhos
                        </p>
                        <img src="img/Caldinhos.jpeg" alt="">
                        <p id="preco-produto">R$ 4,00</p>
                    </div>
                    <div class="cardapio">
                        <p id="nome-produto">
                            Caldinhos
                        </p>
                        <img src="img/Caldinhos.jpeg" alt="">
                        <p id="preco-produto">R$ 4,00</p>
                    </div>
                </div>
                <a class="links" href="cardapio.html">Ver Cardápio</a>
            </div>
            <div class="direita-baixo">
                <div class="avaliacoes">
                    <h3>Avaliações</h3>
                    <p>1</p>
                    <a class="links" href="comentarios.html">Ver Comentários</a>
                </div>
                <div class="comentarios">
                    <div class="perfil-coment">
                        <a class="links" href="user.html">Usuário 1</a>
                        <img class="img-perfilUser" src="img/BORALI.png" alt="">
                    </div>
                    <div class="conteudo-coment">
                        <p class="comentario">
                            Barraquinha muito boa! Lanches saem rápido e quentes, atendimento nota 10!
                        </p>
                    </div>
                    <div class="infos-coment">
                        <div class="nota-coment">
                            <p id="nota-coment">5.0</p>
                            <img src="img/Estrela.png" alt="estrela.png">
                        </div>
                        <div class="data-coment">
                            <p>
                                20 de julho de 2022
                            </p>
                        </div>
                        <div class="like-deslike">
                            <button class="botao">
                                gostei
                            </button>
                            <button class="botao">
                                não gostei
                            </button>
                        </div>
                    </div>
                </div>
                <div class="comentarios">
                    <div class="perfil-coment">
                        <a class="links" href="user.html">Usuário 1</a>
                        <img class="img-perfilUser" src="img/BORALI.png" alt="">
                    </div>
                    <div class="conteudo-coment">
                        <p class="comentario">
                            Barraquinha muito boa! Lanches saem rápido e quentes, atendimento nota 10!
                        </p>
                    </div>
                    <div class="infos-coment">
                        <div class="nota-coment">
                            <p id="nota-coment">5.0</p>
                            <img src="img/Estrela.png" alt="estrela.png">
                        </div>
                        <div class="data-coment">
                            <p>
                                20 de julho de 2022
                            </p>
                        </div>
                        <div class="like-deslike">
                            <button class="botao">
                                gostei
                            </button>
                            <button class="botao">
                                não gostei
                            </button>
                        </div>
                    </div>
                </div>
                <div class="comentarios">
                    <div class="perfil-coment">
                        <a class="links" href="user.html">Usuário 1</a>
                        <img class="img-perfilUser" src="img/BORALI.png" alt="">
                    </div>
                    <div class="conteudo-coment">
                        <p class="comentario">
                            Barraquinha muito boa! Lanches saem rápido e quentes, atendimento nota 10!
                        </p>
                    </div>
                    <div class="infos-coment">
                        <div class="nota-coment">
                            <p id="nota-coment">5.0</p>
                            <img src="img/Estrela.png" alt="estrela.png">
                        </div>
                        <div class="data-coment">
                            <p>
                                20 de julho de 2022
                            </p>
                        </div>
                        <div class="like-deslike">
                            <button class="botao">
                                gostei
                            </button>
                            <button class="botao">
                                não gostei
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>