<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Usuario</title>
    <link rel="stylesheet" href="perfilUsuario.css">
</head>
<body>

    <div class="menus">
        <div class="menu-horizontal">
            <img class="logo" src="./img/BORALI.png">
            <nav class="h-menu">
                <ul>
                    <li><a href="/registroComedoria">Sugerir comedoriaModel</a></li>
                    <li><a href="/home">Buscar</a></li>
                    <li><a href="/home">Home</a></li>  
                </ul>
            </nav>
        </div>

        <div class="menu-vertical">
            <input type="checkbox" id="check">
            <label for="check">
                <img src="./img/menu-mobile.png">
            </label>
            <nav class="v-menu">
                <ul>
                    <li><a href="/perfilUsuario">USUÁRIO</a></li>
                    <li><a href="/quemSomos">QUEM SOMOS</a></li>
                    <li><a href="/login">ENTRAR</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="centro">
            <div class="perfil">

            </div>
            <div class="infos">
                <div class="info">
                    Nome:
                </div>
                <div class="info">
                    Email: <p> email@email.com</p>
                </div>
                <div class="info">
                    CPF:
                </div>
                <div class="info">
                    Contato:
                </div>
            </div>
            <div class="sobre">
                <p id="sobre">Sobre</p>
                </p>
                <p id="sobreConteudo">
                    Gosto de conhecer lugares novos e sempre experimentar comidas novas, comidas locais, então o Borali se fez muito essencial pra mim.
                </p>
            </div>
            <div class="alterarDados">
                <a href="/alterarDadosUsuario">Alterar Dados</a>
            </div>
        </div>
        </div>

</body>
</html>