<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Comedoria</title>
    <link rel="stylesheet" href="registroComedoria.css">
</head>
<body>

    <div class="menus">
        <div class="menu-horizontal">
            <img class="logo" src="./img/BORALI.png">
            <nav class="h-menu">
                <ul>
                    <li><a href="/registroComedoria">Sugerir comedoria</a></li>
                    <li><a href="/home">Buscar</a></li>
                    <li><a href="/home">Home</a></li>
                </ul>
            </nav>
        </div>

        <div class="menu-vertical">
            <input type="checkbox" id="check">
            <label for="check">
                <img src="./img/menu-mobile.png">
            </label>
            <nav class="v-menu">
                <ul>
                    <li><a href="/perfilUsuario">USUÁRIO</a></li>
                    <li><a href="/quemSomos">QUEM SOMOS</a></li>
                    <li><a href="/login">ENTRAR</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container">
        <div class="titulo">
            <h1>Cadastrar Comedoria</h1>
        </div>
        <form action="/registroComedoria" method="post">
            <div>
                <div class="nome-endereco">
                    <input type="text" min="3" placeholder="Digite o nome">
                    <input type="text" min="3" placeholder="Digite o endereço">
                    <input type="tel" min="11" maxlength="11" placeholder="Digite o contato">
                </div>
            </div>
            <div class="botoes">
                <button class="botao" type="submit">Cadastrar</button>
                <button class="botao" type="reset">Cancelar</button>
            </div>
        </form>
    </div>
</body>
</html>